/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.page {
  font-size: 20px;
  text-align: center;
}
.dark_mode {
  align-self: center;
  width: 50px;
  height: 24px;
  border-radius: 12px;
  background-image: url("i/dark_mode.png");
  background-size: 76px 24px;
  background-position: -26px 0;
  transition: 100ms;
}
body.dark {
  background-color: #000;
  background-image: url(i/flashlight.png);
  background-repeat: no-repeat;
  background-size: 500px 500px;
}
body.dark .dark_mode {
  background-position: 0 0;
}

.perfil {
  height: 200px;
  text-align: center;
}

.perfil {
  width: 200px;
  height: 200px;
  animation: float 5s ease-in-out infinite;
  box-shadow: 0 10px 10px;
  border-radius: 50%;
  background-color:rgb(246, 10, 10);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}