

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}


/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 340; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scrooll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scrooll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.893rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}





/*==================== SKILLS ====================*/

.skills__container {
    row-gap: 0;
}

.skills__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills__icon,
.skills__arrow {
    font-size: 2rem;
    color: #2ecc71;
}

.skills__icon {
    margin-right: #2ecc71;
}


.skills__title {
    font-size: var(--h3-font-size);
}

.skills__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills__arrow {
    margin-left: auto;
    transition: 0.4s;
}

.skills__list {
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
    height: 5px;
    border-radius: 0.25rem;
}

.skills__bar {
    background-color: #7f7f7f;
}

.skills__percentage {
    display: block;
    background-color:#2ecc71;
}

.skills__html {
    width: 90%;
}

.skills__css {
    width: 80%;
}

.skills__js {
    width: 40%;
}

.skills__react {
    width: 25%;
}

.skills__php {
    width: 45%;
}

.skills__node {
    width: 60%;
}

.skills__firebase {
    width: 50%;
}

.skills__python {
    width: 15px;
}

.skills__figma {
    width: 60%;
}

.skills__sketch {
    width: 55%;
}

.skills__photoshop {
    width: 75%;
}

.skills__close .skills__list {
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list {
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
    transform: rotate(-180deg);
}



/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}

a {
  color: #27E1CE;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #27E1CE;
  outline: none;
}

p {
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #27E1CE;
}

::-moz-selection {
  color: #fff;
  background: #27E1CE;
}

::selection {
  color: #fff;
  background: #27E1CE;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-md {
  padding: 10px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #27E1CE;
  color: #fff;
  border: 2px solid #27E1CE;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #3de4d3 !important;
  border-color: #3de4d3 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #27E1CE;
  border: 2px solid #27E1CE;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #27E1CE;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #27E1CE;
}

.page-social {
  padding: 0;
  margin: 0;
}
.page-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.page-social li a {
  font-size: 22px;
  color: #fff;
  padding: 0;
  margin: 0;
  padding: 2px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.page-social li a:hover {
  color: #27E1CE;
}
.page-social li a:hover, .page-social li a:active, .page-social li a:focus {
  outline: none;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 1em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 1em;
  }
}

#page-header {
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #page-header {
    margin: 0px 0 0 0;
  }
}
#page-header .header-inner {
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
#page-header h1 {
  float: left;
  padding: 0;
  font-weight: 700;
  line-height: 0;
  font-size: 30px;
}
#page-header h1 a {
  position: relative;
  color: black;
}
#page-header h1 a > span {
  color: #27E1CE;
}
#page-header h1 a:hover, #page-header h1 a:active, #page-header h1 a:focus {
  text-decoration: none;
  outline: none;
}
#page-header h1 a:before {
  position: absolute;
  bottom: 6px;
  left: -8px;
  content: '';
  width: 8px;
  height: 8px;
  background: #27E1CE;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#page-header h1, #page-header nav {
  margin: 38px 0 0 0;
}
#page-header nav {
  float: right;
  padding: 0;
}
@media screen and (max-width: 768px) {
  #page-header nav {
    display: none;
  }
}
#page-header nav ul {
  padding: 0;
  margin: 0 -0px 0 0;
  line-height: 0;
}
#page-header nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#page-header nav ul li a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  padding: 10px;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#page-header nav ul li a i {
  line-height: 0;
  font-size: 20px;
  position: relative;
  top: 3px;
}
#page-header nav ul li a:after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 7px;
  left: 10px;
  right: 10px;
  background-color: #27E1CE;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#page-header nav ul li a:hover {
  text-decoration: none;
  color: #27e1ce;
}
#page-header nav ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#page-header nav ul li a:active, #page-header nav ul li a:focus {
  outline: none;
  text-decoration: none;
}
#page-header nav ul li.cta {
  margin-left: 20px;
}
#page-header nav ul li.cta a {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  border: 2px solid #27e1ce;
  color: #27E1CE;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#page-header nav ul li.cta a:hover {
  color: #fff;
  background: #27E1CE;
}
#page-header nav ul li.cta a:hover:after {
  display: none;
}
#page-header nav ul li.active a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
#page-header nav ul li.active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

#page-hero {
  min-height: 700px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}
#page-hero .btn {
  font-size: 24px;
}
#page-hero .btn.btn-primary {
  padding: 14px 30px !important;
}
#page-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#page-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}
#page-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
}
#page-hero .flexslider .flex-control-nav {
  bottom: 40px;
  z-index: 1000;
}
#page-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#page-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}
#page-hero .flexslider .flex-direction-nav {
  display: none;
}
#page-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 700px;
}
#page-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 700px;
}
#page-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 70px;
  font-weight: 400;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #page-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 40px;
  }
}
#page-hero .flexslider .slider-text > .slider-text-inner .page-lead {
  font-size: 20px;
  color: #fff;
}
#page-hero .flexslider .slider-text > .slider-text-inner .page-lead .icon-heart {
  color: #d9534f;
}

#page-services-section, #page-work-section, #page-testimony-section,
#page-blog-section {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #page-services-section, #page-work-section, #page-testimony-section,
  #page-blog-section {
    padding: 3em 0;
  }
}

#page-services-section .services {
  position: relative;
}
#page-services-section .services i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
  color: #27E1CE;
}
#page-services-section .services .desc {
  padding-left: 70px;
}
#page-services-section .services .desc h3 {
  font-size: 20px;
  font-weight: 700;
}

.page-services {
  margin-top: 4em;
}

#page-work-section .item-grid {
  width: 100%;
  float: left;
  position: relative;
  background: #fff;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 2px;
}
#page-work-section .item-grid .image {
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
}
#page-work-section .item-grid .v-align {
  padding: 30px;
}
#page-work-section .item-grid .v-align h3 {
  font-weight: 700;
  font-size: 20px;
}
#page-work-section .item-grid .v-align h5 {
  color: rgba(0, 0, 0, 0.3);
}
#page-work-section .item-grid:hover, #page-work-section .item-grid:focus {
  text-decoration: none;
  -webkit-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  top: -2px;
}

.wrap-testimony {
  position: relative;
  width: 100%;
}
.wrap-testimony .testimony-slide {
  text-align: center;
  overflow: hidden;
}
.wrap-testimony .testimony-slide span {
  font-size: 18px;
}
.wrap-testimony .testimony-slide span a.twitter {
  color: #27E1CE;
  font-weight: 300;
}
.wrap-testimony .testimony-slide figure {
  margin-bottom: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.wrap-testimony .testimony-slide figure img {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.wrap-testimony .testimony-slide blockquote {
  border: none;
  margin: 0 auto;
  width: 72%;
  position: relative;
  padding-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .wrap-testimony .testimony-slide blockquote {
    width: 100%;
  }
}
.wrap-testimony .testimony-slide blockquote p {
  font-size: 20px;
  line-height: 1.6em;
  color: #1a1a1a;
}
.wrap-testimony .testimony-slide.active {
  display: block;
}

.owl-carousel .owl-controls .owl-dot {
  margin-top: 30px;
}
.owl-carousel .owl-controls .owl-dot span {
  background: #e6e6e6;
}
.owl-carousel .owl-controls .owl-dot span:hover, .owl-carousel .owl-controls .owl-dot span:focus {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot:hover span, .owl-carousel .owl-controls .owl-dot:focus span {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot.active span {
  background: transparent;
  border: 2px solid #27E1CE;
}

#page-blog-section .item-grid {
  width: 100%;
  float: left;
  position: relative;
  background: #fff;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 2px;
}
#page-blog-section .item-grid .image {
  height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
}
#page-blog-section .item-grid .v-align {
  padding: 30px;
}
#page-blog-section .item-grid .v-align h3 {
  font-weight: 700;
  font-size: 20px;
}
#page-blog-section .item-grid .v-align h5 {
  color: rgba(0, 0, 0, 0.3);
}
#page-blog-section .item-grid .v-align p {
  color: gray;
}
#page-blog-section .item-grid:hover, #page-blog-section .item-grid:focus {
  text-decoration: none;
  -webkit-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
  top: -2px;
}

.item-block {
  margin-bottom: 7em;
  float: left;
}
.item-block .icon {
  display: block;
  margin-bottom: 30px;
}
.item-block .icon img {
  max-width: inherit;
  height: 90px;
  margin: 0 auto;
}
.item-block h3 {
  font-size: 20px;
  font-weight: 700;
}
.item-block p:last-child {
  margin-bottom: 0;
}

.page-heading {
  margin-bottom: 30px;
}
.page-heading h2 {
  margin-bottom: 20px;
  font-weight: 700;
}

.googleplus-color {
  color: #dc4e41;
}

.facebook-color {
  color: #3b5998;
}

.twitter-color {
  color: #55acee;
}

.page-about,
.page-team,
.page-contact {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  .page-about,
  .page-team,
  .page-contact {
    padding: 3em 0 10px 0;
  }
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: #27E1CE;
}
.contact-info li a {
  color: #27E1CE;
}

#map {
  height: 500px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #map {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  #map {
    height: 200px;
  }
}



/*ssclow Alan Termina aqui*/
  
  * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  @font-face { font-family: 'body';                     src: url('fonts/IBMPlexSans-Text.woff') format('woff'); }
  @font-face { font-family: 'body'; font-style: italic; src: url('fonts/IBMPlexSans-TextItalic.woff') format('woff'); }
  @font-face { font-family: 'body'; font-weight: 800;   src: url('fonts/IBMPlexSans-Bold.woff') format('woff'); }
  
  @font-face { font-family: 'mono';                     src: url('fonts/IBMPlexMono-Text-Latin1.woff') format('woff'); }
  
  body { font: 18px/28px body, sans-serif; }
  pre, code { font-family: mono, monospace; }
  
  body {
	background-image: #FAF3F3; /* #FDDB29 */
	background-color: #FAF3F3; /* fallback */
	color: #000;
	-webkit-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
	-moz-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
	font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	margin: 50px auto;
  }
  .page { width: 600px; margin: 0 auto; padding: 0 0 0 2px; }
  .page_wide { width: 810px; }
  
  .menu { width: 544px; margin: 0 auto 0; padding: 0 0 50px 0; vertical-align: top; display: flex; }
  .menu > li { list-style: none; margin: 0 1em 0 0; vertical-align: top; }
  .menu__item, a.menu__item { color: rgba(0,0,0,0.3); border-color: transparent; display: inline-block; }
  .menu__item_selected,
  a.menu__item_selected,
  a.menu__item:hover { color: #000; border-bottom: 2px solid #000; }
  .menu__item_inside, a.menu__item_inside { border-bottom: 2px solid rgba(0,0,0,0.2); }
  .spacer { flex-grow: 1; }
  
  .starred { margin: 0 0.5em 0 -1.5em; }
  
  .post { width: 544px; margin: 15px auto; }
  
  a { color: inherit; text-decoration: none; border-bottom: 2px solid rgba(0,0,0,0.2); }
  a:hover { border-color: currentColor; }
  p, blockquote { margin: 15px 0; }
  h1 + p + blockquote { margin-bottom: 30px; margin-right: 1em; }
  blockquote { padding-left: 1em; color: rgba(0,0,0,0.55); }
  blockquote::before {content: "> "; float: left; margin: 0 0 0 -1em; }
  
  .quote-author { text-align: right; font-size: 15px; }
  strong { font-weight: 700; }
  h1, h2 { margin: 2.5em 0 0.5em; }
  h1 { font-size: 1.7em; }
  h2 { font-size: 1.4em; }
  h1 + h2 { margin: -0.75em 0 0.9em; }
  .title { font-size: 2.5em; line-height: 50px; margin: 1.5em 0 0.75em 0; }
  
  p > img, .fig, figure { margin: 2em 0; }
  img { max-width: 100%; }
  
  .fig, figure { text-align: center; font-size: 12px; line-height: 20px; font-style: italic; }
  @media (min-width: 600px) {
	.fig, figure { width: 600px; margin-left: -28px; margin-right: -28px; }
  }
  .fig img, figure > img, figure > video, figure > a > img { margin: 0 auto 1em; display: block; border-radius: 3px; }
  figure > video { max-width: 100%; }
  .label { text-align: center; font-size: 12px; font-style: italic; margin: -1em 0 1em 0; }
  
  code { font-style: normal; background: rgba(0,0,0,0.06); padding: 2px 6px; border-radius: 4px; font-size: 17px; }
  pre { font-size: 16px;
		background: rgba(0,0,0,0.06);
		padding: 16px 30px 14px;
		margin: 1em -30px;
		border-radius: 8px;
		white-space: pre-wrap;
		word-wrap: break-word;
		font-style: normal; }
  pre > code { background: none; padding: 0; font-size: inherit; white-space: unset; }
  
  ul { padding: 0 0 0 1em; list-style-type: square; }
  ul > li, ol > li { margin: 0.5em 0; }
  
  sup, sub, .note-ref, .note-number { vertical-align: baseline; position: relative; font-size: .7em; line-height: 1; }
  sup, .note-ref, .note-number { bottom: 1.4ex; }
  sub { top: .5ex; }
  
  .about_photo { float: left; width: 100px; height: 160px; margin-left: -150px; margin-top: -10px; background: url("i/photo.png"); background-size: 200px; }
  .about_photo:hover { background-position: 100%; }
  .about_inner { font-size: 16px; line-height: 24px; border: 2px solid rgba(0,0,0,0.2); border-radius: 4px; padding: 10px 20px; margin: -12px -22px; }
  .about_inner > p { margin: 0 0 8px; }
  .btn-subscribe { line-height: 20px; text-decoration: none; background: rgba(0,0,0,0.1); border: none; font-size: 12px; padding: 0px 7px; display: inline-block; border-radius: 4px; position: relative; top: -1px; }
  .btn-subscribe:hover { background: rgba(0,0,0,0.2); }
  .btn-subscribe > svg { width: 21px; height: 21px; vertical-align: bottom; margin: 0 -2px 0 -5px; }
  
  .footnote { margin: 0 5px;  }
  .footnotes-br { width: 100px; height: 2px; background: #000000; margin-top: 5em; }
  .footnotes > ol { padding-left: 1em;  }
  
  .notes { font-size: 0.8em; }
  .note-number { margin-left: -1em; }
  
  .date { color: rgba(0,0,0,0.55); font-size: 14px; margin-left: 4px; }
  
  .footer{ color: rgba(0,0,0,0.55); }
  .footer { font-size: 16px; margin-bottom: 5em; }
  .footer > .separator { margin: 0 4px; }
  .footer > a { margin-right: 5px; }
  .footer > a:hover { color: #000; }
  
  .hoverable { object-fit: cover; object-position: center top; }
  .hoverable.clicked { object-position: center bottom; }
  
  @media (hover: hover) {
	.hoverable.clicked:hover { object-fit: cover; object-position: center top; }
	.hoverable:hover { object-position: center bottom; }
  }
  
  .dark_mode { align-self: center; width: 50px; height: 24px; border-radius: 12px; background-image: url("../i/dark_mode.png"); background-size: 76px 24px; background-position: -26px 0; transition: 100ms; }
  body.dark { background-color: #000; background-image: url(../i/flashlight.png); background-repeat: no-repeat; background-size: 500px 500px; }
  body.dark .dark_mode { background-position: 0 0; }
  
  
  .contact-box{
	  max-width: 1200px;
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  justify-content: center;
	  align-items: center;
	  text-align: center;
	  background-color: #fff;
	  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  }
  
  .left{
	  background: url("../images/contato.jpg") no-repeat center;
	  background-size: cover;
	  height: 630px;
  }
  
  .right{
	  padding: 25px 40px;
  }
  
  h2{
	  position: relative;
	  padding: 0 0 10px;
	  margin-bottom: 10px;
  }
  
  h2:after{
	  content: '';
	  position: absolute;
	  left: 50%;
	  bottom: 0;
	  transform: translateX(-50%);
	  height: 4px;
	  width: 50px;
	  border-radius: 2px;
	  background-color: #2ecc71;
  }
  
  .name{
	  width: 100%;
	  border: 2px solid rgba(0, 0, 0, 0);
	  outline: none;
	  background-color: rgba(230, 230, 230, 0.6);
	  padding: 0.5rem 1rem;
	  font-size: 1.1rem;
	  margin-bottom: 22px;
	  transition: .3s;
  }
  
  .name:hover{
	  background-color: rgba(0, 0, 0, 0.1);
  }
  
  .phone{
	  width: 100%;
	  border: 2px solid rgba(0, 0, 0, 0);
	  outline: none;
	  background-color: rgba(230, 230, 230, 0.6);
	  padding: 0.5rem 1rem;
	  font-size: 1.1rem;
	  margin-bottom: 22px;
	  transition: .3s;
  }
  
  .phone:hover{
	  background-color: rgba(0, 0, 0, 0.1);
  }
  
  
  .email{
	  width: 100%;
	  border: 2px solid rgba(0, 0, 0, 0);
	  outline: none;
	  background-color: rgba(230, 230, 230, 0.6);
	  padding: 0.5rem 1rem;
	  font-size: 1.1rem;
	  margin-bottom: 22px;
	  transition: .3s;
  }
  
  .email:hover{
	  background-color: rgba(0, 0, 0, 0.1);
  }
  
  
  .mesage{
	  width: 100%;
	  border: 2px solid rgba(0, 0, 0, 0);
	  outline: none;
	  background-color: rgba(230, 230, 230, 0.6);
	  padding: 0.5rem 1rem;
	  font-size: 1.1rem;
	  margin-bottom: 10px;
	  transition: .3s;
  }
  
  .mesage:hover{
	  background-color: rgba(0, 0, 0, 0.1);
  }
  
  
  textarea{
	  min-height: 190px;
  }
  
  .btn{
	  width: 70%;
	  padding: 0.5rem 1rem;
	  background-color: #2ecc71;
	  color: #fff;
	  font-size: 1.1rem;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  transition: .3s;
  }
  .btn2{
	width: 22%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}
  
  .btn:hover{
	  background-color: #27ae60;
  }
  
  .btn2:hover{
	background-color: #27ae60;
}
  .field:focus{
	  border: 2px solid rgba(30,85,250,0.47);
	  background-color: #fff;
  }
  
  @media screen and (max-width: 880px){
	  .contact-box{
		  grid-template-columns: 1fr;
	  }
	  .left{
		  height: 200px;
	  }
  }
  
  
  
  /*ssclow Alan Termina aqui*/

* {
	font-family: "Josefin Sans";
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  body {
	background-color:#f7f4f4; /* trocar cor de fundo de branco para...*/
	color: #777;
	/*i
	*  color: blue*/
  }
  body a {
	color: #777;
	text-decoration: none;
	transition: 0.4s;
  }
  body ul {
	list-style: none;
  }
  
  .header {
	display: flex;
	justify-content: space-between;
	max-width: 1170px;
	padding: 1.5rem;
	margin: 0 auto;
  }
  @media (max-width: 425px) {
	.header {
	  padding: 1.1rem;
	}
  }
  .header-brand {
	color: #f7f4f4;
	font-size: 3rem;
  }
  .header-navbar ul {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  @media (max-width: 425px) {
	.header-navbar ul {
	  display: none;
	}
  }
  .header-navbar ul li {
	margin: 0 1rem;
	text-transform: uppercase;
	font-size: 0.8rem;
  }
  .header-navbar ul li .active {
	color: #25c293;
  }
  .header-navbar ul li a:hover {
	color: #25c293;
  }
  .header-social-media ul {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
  }
  @media (max-width: 425px) {
	.header-social-media ul {
	  display: none;
	}
  }
  .header-social-media ul li {
	margin: 0 1rem;
  }
  .header-social-media ul li a:hover {
	color: #f7f4f4;
  }
  
  .gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1170px;
	padding: 1.5rem;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
  }
  @media (max-width: 425px) {
	.gallery {
	  flex-direction: column;
	}
  }
  .gallery-card {
	width: 31%;
	height: 400px;
	margin-bottom: 4%;
	border: 1px solid green;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #f7f4f4;
  }
  @media (max-width: 425px) {
	.gallery-card {
	  width: 90%;
	  margin-bottom: 6%;
	}
  }
  .gallery-card-title {
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 1rem;
  }
  .gallery-card-btn {
	padding: 0.6rem 2rem;
	border: 2px solid #f7f4f4;
	color: #f7f4f4;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
  }
  .gallery-card-btn:hover {
	background-color: #f7f4f4;
	color: #000;
  }
  .gallery #card-1 {
	background-image: url("../img/004.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	transition: 0.6s;
  }
  .gallery #card-1:hover {
	background-size: 107%;
	filter: grayscale(0%);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/004.jpg");
  }
  .gallery #card-2 {
	background-image: url("../img/009.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	transition: 0.6s;
  }
  .gallery #card-2:hover {
	background-size: 107%;
	filter: grayscale(0%);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/009.png");
  }
  .gallery #card-3 {
	background-image: url("../img/008.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	transition: 0.6s;
  }
  .gallery #card-3:hover {
	background-size: 107%;
	filter: grayscale(0%);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/008.jpg");
  }
  .gallery #card-4 {
	background-image: url("../img/007.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	transition: 0.6s;
  }
  .gallery #card-4:hover {
	background-size: 107%;
	filter: grayscale(0%);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/007.png");
  }
  .gallery #card-5 {
	background-image: url("../img/006.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	transition: 0.6s;
  }
  .gallery #card-5:hover {
	background-size: 107%;
	filter: grayscale(0%);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/006.png");
  }
  .gallery #card-6 {
	background-image: url("../img/005.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	transition: 0.6s;
  }
  .gallery #card-6:hover {
	background-size: 107%;
	filter: grayscale(0%);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/005.jpg");
  }
  .gallery #card-7 {
	background-image: url("../img/004.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	transition: 0.6s;
  }
  .gallery #card-7:hover {
	background-size: 107%;
	filter: grayscale(0%);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/004.png");
  }
  .gallery #card-8 {
	background-image: url("../img/003.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	transition: 0.6s;
  }
  .gallery #card-8:hover {
	background-size: 107%;
	filter: grayscale(0%);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/003.png");
  }
  .gallery #card-9 {
	background-image: url("../img/001.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	transition: 0.6s;
  }
  .gallery #card-9:hover {
	background-size: 107%;
	filter: grayscale(0%);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/001.png");
  }
  
  footer {
	text-align: center;
	padding-bottom: 2rem;
  }
  footer span {
	font-weight: bold;
	color: #25c293;
  }
  
  /*# sourceMappingURL=styles.css.map */
  
